* {
    background-image: url('./images/pexels-photo-1032650.jpeg');
}

.container {
    border-radius: 35px;
    width: 75%;
    justify-content: centre;
    padding: 2px;
    margin: 0 auto;
}

.container1,
.container2,
.container3 {
    border-radius: 5px;
    width: 75%;
    justify-content: centre;
    padding: 2px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

h1 {
    display: flex;
    justify-content: center;
    color: chocolate;
}

footer {
    display: flex;
    justify-content: center;
    color: chocolate;
    font-weight: bolder;
    font-size: large;
}

.flex-box-container1,
.flex-box-container2,
.flex-box-container3 {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 15px;
    justify-content: space-around;
    flex-direction: row;
}

.btn {
    border-radius: 5px;
    margin-top: 2px;
}

.buton {
    background-color: wheat;
    justify-content: space-evenly;
    display: flex;
    border-radius: 5px;
    margin-bottom: 5px;
}

.flex-box-container1 div,
.flex-box-container2 div {
    padding: 10px;
    border-radius: 5px;
    align-content: center;
    margin-top: 2px;
}

.flex-box-container img {
    padding: 5px;
}